.add-memo-button{
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    padding: 0;
    margin: 0;
    background-color: #e45e5f;
    border: none;
    border-radius: 28px;
}